body{
    /* text-align: center; */
    font-size: 16px;
    font-family: "Sans-Serif";
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #222;
}

main{
    width: 70%;
    margin: 0 auto;
    border: 1px solid #EEE; 
}

header{
    color: #FFF;
    background-color: rgb(48, 75, 46);
    padding: 2em;
}

header h1{
    display: inline-block;
    font-weight: bolder;
    margin: 0;
}

header h1::after{
    content: "";
    margin: 0 0.5em;
    border-right: 2px solid #fff;
}

header span{
    vertical-align: super;
}

section{
    padding: 1em 2em;
    background-color: #EEE;
}

.logo{
    margin-right: 10px;
    width: 40px;
    vertical-align: bottom;
}